[core]
	editor = \"C:\\Users\\fitin\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = Simon F Nilsson
	email = simon.f.nilsson@me.com
[commit]
	gpgSign = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
